*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}
h3{
    font-size: 24.5px;
    font-weight: 600;
}
#featured-categories, #popular-products{
    margin: 80px 0 48px;
}
a, p{
    text-decoration: none;
    font-size: 14px;
}
#featured-categories .card img{
    width: 60%;
}
#featured-categories .card .card-body{
    display: flex;
    justify-content: center;
    color: #21313c;
    font-weight: 500;
}
.card .card-body small{
    display: inline-block;
    color: #889397;
    font-size: 12.25;
    margin-bottom: 4px;
}
.card .card-body a, p{
    display: inline-block;
    color: #21313c;
}
.review{
    font-size: 12.25px;
}
.review i{
    color: #ffc107;
}
.review span{
    color: #889397; 
}
.box{
    padding: 48px 32px;
    border-radius: 8px;
    background-size: cover;
    background-position: center;
}
#box-1{
    background-image: url(https://freshcart.codescandy.com/assets/images/banner/grocery-banner.png);
}
#box-2{
    background-image: url(https://freshcart.codescandy.com/assets/images/banner/grocery-banner-2.jpg);
}
.box h3{
    margin-bottom: 4px;
}
.box p{
    color: #5c6c75;
    margin-bottom: 16px;
}
.box p span{
    font-weight: bolder;
}
.box a{
    display: block;
    width: fit-content;
    background-color: #001e2b;
    color: #ffffff;
    padding: 8.8px 16px;
    border-radius: 8px;
}
@media (max-width: 768px){
    .sm-none{
        display: none;
    }
}
@media (max-width: 1400px){
    .xl-none{
        display: none;
    }
}